










/* Header */
header {
 background: radial-gradient(circle, #A47BDB, #5A4377);

}

.header2 {

    background-color: #774DAF;
}

/* Body */

body {

    background: linear-gradient(to bottom,  #57018E,  #200134);
    background-repeat: no-repeat;
}



/* Text */

h1 {
    color: black;
    font-family:"Irish Grover", cursive;
    
}




img {
    
    height: 2em;
    width: 4em;
    float: right;
}


.spielbuttom {

    background: linear-gradient(#D36086, #690C8F);
}


.infobutton {
    background-color: #8060AB;
    border-color: none;
width: 30em;
}

a {
    text-decoration: none;
    color: black;

}

/* footer */

footer {
    background: linear-gradient(#462F65, #24003A);
}





h2 {

    border-color: black;
    
}
/* Noch zu erledigen:

Benutzeroberfläche: #62428D

hallo



*/